$path = "C:\Configs\*.config"

$result = foreach ($file in Get-ChildItem $path) {

    [xml]$xml = Get-Content $file.FullName

    # Navigate to settings node (adjust if name differs)
    $settings = $xml.configuration.applicationSettings.ChildNodes |
                Where-Object { $_.NodeType -eq "Element" } |
                ForEach-Object { $_.setting }

    foreach ($s in $settings) {
        [PSCustomObject]@{
            FileName = $file.Name
            Key      = $s.name
            Value    = $s.value
        }
    }
}

# Display output
$result | Format-Table -AutoSize








$path = "C:\Configs\*.config"

$result = foreach ($file in Get-ChildItem $path) {

    [xml]$xml = Get-Content $file.FullName

    $settings = $xml.configuration.applicationSettings.ChildNodes |
                Where-Object { $_.NodeType -eq "Element" } |
                ForEach-Object { $_.setting }

    $obj = @{}

    foreach ($s in $settings) {
        $obj[$s.name] = $s.value
    }

    $obj["FileName"] = $file.Name

    New-Object PSObject -Property $obj
}

$result | Format-Table -AutoSize
